@import url('https://fonts.googleapis.com/css?family=Lato');

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	width: 100%;
	height: 100vh;
	font-size: 16px;
}
h1,h2,h3 {
	font-family: 'Lato', serif;
	font-size: 3rem;
	font-weight: bold;
	/* color: #3F3E3E; */
}
h3 {
	font-size: 2rem;
	background: #00ff90;
	font-weight: normal;
	color: white;
	padding: 0.5rem 1rem;
	border-radius: 2px;
}
p {
	font-size: 1.25rem;
	font-family: 'Lato', serif;
	font-weight: normal;
	color: #8d8d8d;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
}
.main_title {
	padding: 1em;
	border-bottom: 2px solid #00ff90;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	font-family: 'Lato', serif;
	background: black;
	color: white;
	padding: 2rem;
	height: 600px;
}

svg {
	position: absolute;
	bottom: -10.5rem;
	left: -8rem;
}

a {
	text-decoration: none;
	font-family: 'Lato', serif;
	color: #3F3E3E;
	padding: 1em;
	border: 1px solid #00ff90; 
	border-radius: 2px;
}
