body {
  margin: 0;
  background: white;
  -webkit-font-smoothing: antialiased;
  font-family: "Computer Modern Serif", serif;
  font-style: normal;
  font-weight: 400;
}

h1 {
  font-weight: normal;	
  color:blue;
}

h3 {
  font-weight: normal;	
  color:grey;
}

h1, .container header {
  font-family: "Computer Modern Serif", serif;
}


hr {
  border-top: 1px solid #eee;
}

.container {
  display: grid;
  grid-template-rows: 1fr 5fr 1fr;
  grid-template-columns: 2fr 5fr 3fr;
  grid-template-areas: "header header header""nav main main""whiteter whiteter whiteter";
  grid-gap: 4em;
  height: 100vh;
}

@media (max-width: 768px) {
  .container {
    grid-template-rows: 1fr 1fr 5fr 1fr;
    grid-template-columns: 2fr 5fr 3fr;
    grid-template-areas: "header header header""nav nav nav""main main aside""whiteter whiteter whiteter";
    display: block;

  }

  .container nav:
}

@media (max-width: 480px) {
  .container {
    display: block;
  }

  .container header {
    font-size: 100%;
  }


}

.container header {
  grid-area: header;
  margin-bottom: 10px;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 1.78vw;
  padding: 10px;
  border: 1px;
  border-style: solid;
  border-color: black;
  border-bottom: 1px solid black;
  border-radius: 2px 2px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: fit-content;	

}





.container nav {
  grid-area: nav;
  background-color: white;
  color: black;
  padding: 0px;
  margin-left: 10%;
  margin-bottom: 10%;
  flex-wrap: wrap;

}



.sidenavvy {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  border: 1px dashed grey;
  border-radius: 2px 2px;
  background-color: #f2f2f2;
  color: black;
  font-family: Helvetica, sans-serif;
  font-weight: 200;
  font-size: 15px;
}

li a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  align-items: left;
}

a {color: white;
  text-decoration:none;
  }

/* Change the link color on hover */
a:hover {
  background: black;
  color: white;
  transition: background 0.4s ease-in-out;
}


/* Ordered lists */

ol {
  list-style: none;
  counter-reset: item;
  margin: 0.25em;
}

li {
  counter-increment: item;
  margin-bottom: 5px;
}

ol li:before {
  margin-right: 10px;
  margin: 0.5em;
  content: counter(item);
  background: lightgrey;
  border-radius: 100%;
  color: black;
  font-weight: 600;
  width: 1.2em;
  text-align: center;
  display: inline-block;
}

.logo {
  background-color: black;
  color: white;
  text-decoration: none;
}

.logo:hover {
  background-color: black;
  color: grey;
  text-decoration: none;
}

.container main {
  grid-area: main;
  background-color: white;
  color: black;
  margin-right: 30%;
  margin-top: 0%;
  margin-bottom: 10%;
  margin-left: 10%;
  padding: 5%;
  border-style: solid;
  border-radius: 1px;
  border-width: 2px;
  border-color: black;
  font-size: 1.1em;
  width: 66%;

}


/* Table of Contents*/

#toc_container {
    font-family: Helvetica, sans-serif;
    background: black none repeat scroll 0 0;
    display: block;
    text-align: left;
    margin-left:1px;
    margin-right: 10%;
    margin-top: 7.5em;
    margin-bottom: 1em;
    border:solid black 1px;
    border-radius: 2px;
    padding: 5px;
    width: 200px;
}

.toc_title {
    font-weight: 200;
    font-size: 50%;
    text-align: left;
    padding: 5%;
    margin-top:10px;
    margin-right:1em;
    width: 190px;
    text-decoration:none;
    }

#toc_container li, #toc_container ul, #toc_container ul li{
    list-style: outside none none !important;

}

.toc_title:hover {
    color: grey;
    }

.toclink {
  text-decoration: none;
  list-style: none; 
  border:none; 
  color:white; 
  font-size: 175%; 
  font-weight:200}



.container footer {
	display: flex;
	position: block;
	justify-content: center;
	align-items: center;
	width: 100%;
	background: white;
	color: black;
	padding: 1rem;
        margin-top: 10%;
	height: 30%;
  
}


::selection {
  background-color: black;
  color: white;
}

/* Table */
/* #pricetable {
    border-collapse:collapse;
    margin:00%;
    width: 100%;
}

#pricetable td {
   border:1px solid lightgrey;
   text-align: center;

}
#pricetable th {
  text-align: center;
} */

#pricetable {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  max-width: 100%;
}

#pricetable th, td {
  text-align: left;
  padding: 0.5rem;
}

#pricetable td {
  border-bottom: 1px solid hsl(0, 0%, 85%);
}

#pricetable thead th {
  border-bottom: 2px solid hsl(0, 0%, 70%);
}

# pricetable tfoot th {
  border-top: 2px solid hsl(0, 0%, 70%);
}

/* blockquote */

blockquote {
  border-left: 5px solid grey;
  padding: 10px;
  font-weight: 600;

}

/* Preformatted Text  */
pre {
    padding: 1rem 1.4rem;
    max-width: 100%;
    overflow: auto;
    border-radius: 4px;
    background: hsl(210, 28%, 93%);
}


/* Button Groups */

.btn-group button {
  font-family: Helvetica, sans-serif;
  background-color: black;
  /* Green background */
  border: 1px solid black;
  border-radius: 3px;
  /* Green border */
  color: white;
  /* White text */
  padding: 10px 24px;
  /* Some padding */
  cursor: pointer;
  /* Pointer/hand icon */
  float: left;
  /* Float the buttons side by side */
  margin: 5%;
  font-size: 85%;
  font-weight: 600;	
  margin-top: 50px;
}

.inverse button:hover {
  background-color: white;
  /* Green background */
  border: 1px solid green;
  /* Green border */
  color: black;
  /* White text */

}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none;
  /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  color: lightgrey;
}


@media only screen and (max-width: 800px) {

  .container nav {
    margin-top: 10%;
  }


  .container header {
    font-size: 100%;
    display: block;

  }

  .container main {
    font-size: 15px;
    width: 65%;
    display: block;
  }

  .btn-group button {
    font-size: 100%;
  }

  @media only screen and (max-width: 500px) {
    .btn-group button {
      font-size: 75%;

@media only screen and (max-width: 400px) {
    .btn-group button {
      font-size: 10px;

    }
